
<h6 class="pb-2 mb-0">Employees</h6>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Position</th>
      <th scope="col">Salary</th>
      <th scope="col">Created At</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>
        <span *ngIf="employee.new" class="badge badge-primary">new</span>
        {{ employee.name }}
      </td>
      <td>{{ employee.position }}</td>
      <td>{{ employee.salary }}</td>
      <td>{{ employee.createdAt | date: 'yyy/MM/dd' }}</td>
      <td>
        <button class="btn btn-primary btn-sm">
          <span class="oi oi-pencil"></span>
        </button>
        <button click="delete(employee)" class="btn btn-danger btn-sm">
          <span class="oi oi-trash"></span>
        </button>
      </td>
    </tr>
    <tr *ngIf="loading">
      <td colspan="5" align="center">Fetching Employees</td>
    </tr>
  </tbody>
</table>
