<div class="container">
  <!-- alert class created  -->
  <!-- Note: ngAlert closeType is used to determine which type of close button should be place on it.
  It only accepts CloseType enum. Defaults to CloseType.TIMES
  usage:
  NORMAL -> the close button is beneath the alert message
  TIMES -> the close button is by the far right with an 'x'-->
  <div class="app-level-alert">
    <ng-alert
      [(message)]="message"
      [dismissable]="true"
      [closeType]="closeTypes.TIMES"
    ></ng-alert>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="my-3 p-3 bg-white rounded box-shadow">
        <app-list-employee></app-list-employee>
      </div>
    </div>
    <div class="col-md-4">
      <div class="my-3 p-3 bg-white rounded box-shadow">
        <app-create-employee></app-create-employee>
      </div>
    </div>
  </div>
</div>
